<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
    <% if(bankAccount >= 1000){%> 
    <body style="background-color: greenyellow">
        <div class="container"></div>
        <h1 style="margin: 0px">Budgtr $<%= bankAccount %> </h1>
        <nav style="margin: 0px"><a href="/budgtr/new" style="font-size: 40px">💵</a></nav>

        <table>
            <% for(let i =0; i < budget.length; i++){%>
                <tr>
                    <td><%=budget[i].date%></td> 
                    <td><a href="/budgtr/<%=i%>"><%=budget[i].name %></a></td>
                    <td><%=budget[i].amount%></td>
                </tr>
           <% } %>             
        </table>
    </body>
    <% }else if(bankAccount <= 0){%>
        <body style="background-color: rgba(231, 33, 33, 1)">
            <div class="container"></div>
            <h1 style="margin: 0px">Budgtr $<%= bankAccount %> </h1>
            <nav style="margin: 0px"><a href="/budgtr/new" style="font-size: 40px">💵</a></nav>

            <table>
                <% for(let i =0; i < budget.length; i++){%>
                    <tr>
                        <td><%=budget[i].date%></td> 
                        <td><a href="/budgtr/<%=i%>"><%=budget[i].name %></a></td>
                        <td><%=budget[i].amount%></td>
                    </tr>
            <% } %>             
            </table>
    </body>
    <%} else{ %>
        <body>
            <div class="container"></div>
            <h1 style="margin: 0px">Budgtr $<%= bankAccount %> </h1>
            <nav style="margin: 0px"><a href="/budgtr/new" style="font-size: 40px">💵</a></nav>

            <table>
                <% for(let i =0; i < budget.length; i++){%>
                    <tr>
                        <td><%=budget[i].date%></td> 
                        <td><a href="/budgtr/<%=i%>"><%=budget[i].name %></a></td>
                        <td><%=budget[i].amount%></td>
                    </tr>
            <% } %>             
            </table>
    </body>
    <% } %> 
</html>